extends layout

block content
  div#search.
    This is the search bar
  div#messages
    div.message.copyMsg
      div.name.
      div.info1
        div.source.
        div.age.
        div.sex.
      div.info2
        div.note.
      div.info3
        div.contact.
        div.contactnumber.



      
