extends layout

block content
  div#search
    div
      div.description
        我要找:
      input#searchterm
      div.buttonDiv
        button.searchButton
          span.buttonSpan.
            搜索
  div#messages
    div.message.copyMsg
      div.name.
      div.info1
        div.source.
        div.age.
        div.sex.
      div.info2
        div.note.
      div.info3
        div.contact.
        div.contactnumber.
    div.message.copyBaiduMsg
      div.bdsource.
      a.link.
      div.content.



      
