doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/LAB.min.js')
    script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
    script.
      //- Uses LAB.js to ensure script dependencies
      $LAB
      .script("/socket.io/socket.io.js").wait()
      .script("/js/player.js");
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script.

      $(document).ready(function(){
        function search(term){
          var dataBaidu, data360, dataSohu;
          
          console.log(term);

          baidu.once('value', function(snapshot){
            dataBaidu = snapshot.val();

            for (key in dataBaidu){
              var msg = dataBaidu[key]['message'];
              if (msg.indexOf(term)>=0){
                buildBaiduMsg(dataBaidu[key]);
              }
            }
          });

          sohu.once('value', function(snapshot){
            dataSohu = snapshot.val();

            for (key in dataSohu){
              var name = dataSohu[key]['name'];
              if (name.indexOf(term)>=0){
                buildSohuMsg(dataSohu[key]);
              }
            }
          });

          db360.once('value', function(snapshot){
            data360 = snapshot.val();

            for (key in data360){
              var name = data360[key]['name'];
              if (name.indexOf(term)>=0){
                build360Msg(data360[key]);
              }
            }
          });

          try{
          trackBaidu.off('child_added');
          trackSohu.off('child_added');
          track360.off('child_added');
          }catch(e){
          
          }

          console.log("should delete");
          $('.message').remove();
          
          setTimeout(function(){
            if ($('.message').length==0){
              alert("对不起，没有找到您要找的人");
            }
          }, 5000);
        }

        $('.searchButton').click(function(){
          var val = $('#searchterm').val();
          search(val);
        });

        function build360Msg(data){
          var newMsg = $($('.copyMsg').get(0)).clone();
          newMsg.find('.source').text("来源：360");
          newMsg.find('.name').text(data['name']);
          newMsg.find('.note').text(data['message']);
          newMsg.find('.sex').text("性别："+data['sex']);
          newMsg.find('.contact').text("联系人："+data["contact_person"]);
          $(newMsg).addClass('message');
          newMsg.find('.contactnumber').text("电话见360平台");
          $('#messages').prepend(newMsg);
          return $(newMsg).slideDown('slow').removeClass('copyMsg');
        }

        function buildBaiduMsg(data){
          var newMsg = $($('.copyBaiduMsg').get(0)).clone();
          
          var link = "http://tieba.baidu.com/p/2280490557?pn="+data['page'];
          newMsg.find('.bdsource').text("来源：百度");
          newMsg.find('.link').text(link).attr('href', link);
          newMsg.find('.content').text(data['message']);
          $(newMsg).addClass('message');

          $('#messages').prepend(newMsg);
          return $(newMsg).slideDown('slow').removeClass('copyBaiduMsg');
        }

        function buildSohuMsg(data){
          
          console.log(data['id']);
          var newMsg = $($('.copyMsg').get(0)).clone();
          newMsg.find('.source').text("来源：搜狐");
          newMsg.find('.name').text(data['name']);
          newMsg.find('.note').text(data['message']);
          newMsg.find('.age').text("年龄："+data['age']);
          newMsg.find('.sex').text("性别："+(data['sex']==="male"?"男":"女"));
          newMsg.find('.contactnumber').text("联系电话："+data['phone']);
          $(newMsg).addClass('message');


          $('#messages').prepend(newMsg);
          return $(newMsg).slideDown('slow').removeClass('copyMsg');
        }

        var baidu = new Firebase('https://wiredancer.firebaseio.com/baidu/search');
        var sohu = new Firebase('https://wiredancer.firebaseio.com/sohu/search');
        var db360 = new Firebase('https://wiredancer.firebaseio.com/360/search');

        var trackBaidu;
        var trackSohu;
        var track360;

        sohu.once("value", function(snapshot){
          var entries = snapshot.val();
          var count = 0;
          var keys = $.map(entries, function(element, index){return index});
          keys = keys.slice(keys.length-6)

          for (j = 0; j < 5; j++){
            var data = entries[keys[j]];
            var temp = buildSohuMsg(data);
          };
        });

        trackSohu = sohu.limit(1);
        trackSohu.on("child_added", function(snapshot){
            var data = snapshot.val();         
            var id = parseInt(data['id']);
            buildSohuMsg(data);
        });

        trackBaidu = baidu.limit(1);
        trackBaidu.on("child_added", function(snapshot){
          var data = snapshot.val();
          buildBaiduMsg(data);
        });

        track360 = db360.limit(1);
        track360.on("child_added", function(snapshot){
          var data = snapshot.val();
          build360Msg(data);
        });

      });
       
      
  body
    block content
